.nav1 {
	FONT-WEIGHT: normal; COLOR: #282828; TEXT-DECORATION: none
}
.nav1 A {
	FONT-WEIGHT: normal; COLOR: #282828; TEXT-DECORATION: none
}
.nav1 A:hover {
	FONT-WEIGHT: normal; COLOR: #095cc2; TEXT-DECORATION: underline
}
.nav2 {
	FONT-WEIGHT: normal; COLOR: #282828; TEXT-DECORATION: underline
}
.Tabtext {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ddeffb; PADDING-BOTTOM: 1px; FONT: bold 11px verdana; COLOR: #000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.Tabtext A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ddeffb; PADDING-BOTTOM: 1px; FONT: bold 11px verdana; COLOR: #000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.Tabtext A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ddeffb; PADDING-BOTTOM: 1px; FONT: bold 11px verdana; COLOR: #095cc2; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
.Tabtext2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #095cc2; PADDING-BOTTOM: 1px; FONT: bold 11px verdana; COLOR: #fff; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.Tabtextwhite {
	FONT: 11px Verdana; COLOR: #fff; TEXT-DECORATION: none
}
.Tabtextwhite A {
	FONT: 11px Verdana; COLOR: #fff; TEXT-DECORATION: none
}
.Tabtextwhite A:hover {
	BACKGROUND: #095cc2; FONT: bold 11px verdana; COLOR: #fff; TEXT-DECORATION: underline
}
.boldtext {
	FONT-WEIGHT: bold
}
.bluetext {
	FONT: 11px verdana; COLOR: #095cc2; TEXT-DECORATION: none
}
.bluetextmainhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; FONT: bold 12px verdana; COLOR: #095cc2; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.bluetextbig {
	FONT: bold 11px verdana, Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: none
}
.blueunderline {
	FONT: 11px verdana, Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: underline
}
.bluetext A {
	FONT: 11px verdana, Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: none
}
.bluetext A:hover {
	FONT: 11px verdana, Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: underline
}
.bluenormaltext {
	FONT: 11px verdana, Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: none
}
.redtext {
	FONT: bold 12px verdana, Verdana, Arial, sans-serif; COLOR: #ed1b24; TEXT-DECORATION: none
}
.rednormaltext {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #ed1b24; TEXT-DECORATION: none
}
.rednormaltext A {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #ed1b24; TEXT-DECORATION: underline
}
.messagetext {
	FONT: 10px/12px verdana, Verdana, Arial, sans-serif; COLOR: #686868; TEXT-DECORATION: none
}
.messagetextbig {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #686868; TEXT-DECORATION: none
}
.sectionhead {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #04519f; TEXT-DECORATION: none
}
.sectionheadbold {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #04519f; FONT-FAMILY: Verdana, Verdana, Arial, sans-serif, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluemessagetext {
	FONT: 10px/12px verdana,Verdana, Arial, sans-serif; COLOR: #04519f; TEXT-DECORATION: none
}
.bodytext {
	FONT: 11px/16px verdana,Verdana, Arial, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
.bodytextbig {
	PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Verdana, Arial, sans-serif, Helvetica, sans-serif; TEXT-DECORATION: none
}
.resmantextbox {
	BORDER-RIGHT: #b2b2b2 1px groove; BORDER-TOP: #b2b2b2 1px groove; BACKGROUND: #fff; FONT: 11px verdana,Verdana, Arial, sans-serif; BORDER-LEFT: #b2b2b2 1px groove; COLOR: #282828; BORDER-BOTTOM: #b2b2b2 1px groove; TEXT-DECORATION: none
}
.footer {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #6d6d6d; TEXT-DECORATION: none
}
.footer A {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #6d6d6d; TEXT-DECORATION: none
}
.footer A:hover {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: underline
}
.button {
	border:1px groove #04a6e8; padding:1px; BACKGROUND: #04a6e8 url('buttonbg.gif'); CURSOR: hand; COLOR: #fff; font-style:normal; font-variant:normal; font-weight:bold; font-size:11px; font-family:verdana, Verdana, Arial, sans-serif
}
.buttons1 {
	BORDER-RIGHT: #808080 1px groove; PADDING-RIGHT: 0px; BORDER-TOP: #bebebe 1px groove; PADDING-LEFT: 0px; BACKGROUND: #dbdbda; PADDING-BOTTOM: 2px; FONT: 11px verdana,Verdana, Arial, sans-serif; BORDER-LEFT: #bebebe 1px groove; CURSOR: hand; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #808080 1px groove; TEXT-DECORATION: none
}
.textbox2 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; FONT: 11px verdana, Verdana, Arial, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #353535; BORDER-BOTTOM: #b2b2b2 1px solid; TEXT-DECORATION: none
}
.textboxnits {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; FONT: 11px verdana,Verdana, Arial, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 166px; COLOR: #353535; PADDING-TOP: 0px; BORDER-BOTTOM: #b2b2b2 1px solid; TEXT-DECORATION: none
}
.textboxnitsnew {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; FONT: 11px verdana,Verdana, Arial, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 226px; COLOR: #353535; PADDING-TOP: 0px; BORDER-BOTTOM: #b2b2b2 1px solid; TEXT-DECORATION: none
}
.textboxnitsf {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; FONT: 11px verdana,Verdana, Arial, sans-serif; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 180px; COLOR: #353535; PADDING-TOP: 0px; BORDER-BOTTOM: #b2b2b2 1px solid; TEXT-DECORATION: none
}
.textboxnormal {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #353535; TEXT-DECORATION: none
}
.dropbg {
	BACKGROUND: #e2edfb
}
.dropcolor {
	COLOR: #095cc2
}
.tdblue {
	BACKGROUND: #d0e0f1
}
.tdgray {
	BACKGROUND: #e7e7e7
}
.tdnavyblue {
	BACKGROUND: #095cc2
}
TD {
	FONT: 11px/16px verdana,Verdana, Arial, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
A {
	FONT: 11px/16px verdana,Verdana, Arial, sans-serif; COLOR: #095cc2; TEXT-DECORATION: underline
}
.normalhtml {
	FONT: 11px verdana,Verdana, Arial, sans-serif; COLOR: #353535; TEXT-DECORATION: none
}
DIV.row {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
DIV.row SPAN.label {
	FLOAT: left; FONT: 11px/13px verdana,Verdana, Arial, sans-serif; WIDTH: 25%; TEXT-ALIGN: left
}
DIV.row SPAN.label2 {
	FLOAT: right; FONT: 11px verdana,Verdana, Arial, sans-serif
}
.spacer {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.linkcolorblue {
	FONT: 11px/16px verdana,Verdana, Arial, sans-serif; COLOR: #015fa5; TEXT-DECORATION: none
}
.linkcolorwhite {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; FONT: bold 12px/16px verdana, Verdana, Arial, sans-serif; COLOR: #fff; PADDING-TOP: 0px
}
.orange {
	FONT: bold 12px verdana, Verdana, Arial, sans-serif; COLOR: #ff6000; TEXT-DECORATION: none
}
.ab {
	FONT: 11px/19px verdana; COLOR: #333333; LIST-STYLE-TYPE: square
}
.cd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; FONT: 18px verdana; COLOR: #0d609a; PADDING-TOP: 10px
}
.ef {
	FONT: bold 15px verdana; COLOR: #6d6e6f
}
.gh {
	FONT: bold italic 15px verdana; COLOR: #000
}
.login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; FONT: 11px verdana; COLOR: #0066cc; PADDING-TOP: 8px
}
.bdr {
	BORDER-RIGHT: #98999a 1px solid; BORDER-TOP: #98999a 1px solid; BORDER-LEFT: #98999a 1px solid; BORDER-BOTTOM: #98999a 1px solid
}